img.butters {
  width: 100%;

  @media screen and (min-width: 700px) {
    width: 50%;
  }
}

.image-container {
  margin-bottom: 20px;
}

.about {
  text-align: center;
}

h2 {
  margin: 0;
}

.bottom-border {
  height: 36px;
  background: white;
  z-index: 2;
  text-align: center;
  position: relative;
  transition: 2s all ease-in-out;
}
.bottom-border h2 {
  opacity: 0;
  transition: 1.4s all ease-in-out;
}

.more-info-work {
  max-width: 470px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: height 1.5s ease-in-out 0.5s, opacity 1s ease-in-out;
}

.more-info-work.active {
  transition: height 1.5s ease-in-out, opacity 2.5s ease-in-out 1s;
  height: 320px;
  visibility: visible;
  opacity: 1;
}

.more-info-other {
  max-width: 470px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  height: 0px;
  opacity: 0;
  transition: height 1.5s ease-in-out 0.5s, opacity 1s ease-in-out;
}

.more-info-other.active {
  transition: height 1.5s ease-in-out, opacity 2.5s ease-in-out 1s;
  height: 250px;
  opacity: 1;
}

.about {
  padding: 0 1em 1em 1em;
}

.header {
  height: 90px;
  text-align: center;
}

.title {
  font-size: 32px;
}

.triangle {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

/* sunset gradient */
.phone-holder-work {
  display: block;
  margin: auto;
  position: absolute;
  width: 50px;
  z-index: 1;
  bottom: -10%;
  right: 10%;
  transition: right 1.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 1.5s ease-in-out 2s, width 2s ease-in-out 1s,
    bottom 1s ease-in-out 1s;
  opacity: 0;
}
.phone-holder-work.active {
  opacity: 1;
  bottom: 0;
  right: 50px;
  width: 270px;
  transition: right 1.5s cubic-bezier(0.17, 0.67, 0.34, 0.13),
    opacity 1s ease-in, width 2s ease-in-out 1s, bottom 1s ease-in-out 1s;
}

/* sunset gradient */
.phone-holder-other {
  display: block;
  margin: auto;
  position: absolute;
  width: 50px;
  z-index: 1;
  bottom: -10%;
  left: 122px;
  transition: bottom 1.5s cubic-bezier(0.17, 0.67, 0.34, 0.13) 0.8s,
    opacity 2.5s ease-in-out 1.5s, width 1.5s ease-in-out 1s,
    left 1.5s ease-in-out 1s;
  opacity: 0;
}
.phone-holder-other.active {
  opacity: 1;
  bottom: 0%;
  left: 28px;
  width: 250px;
  transition: bottom 1.5s cubic-bezier(0.17, 0.67, 0.34, 0.13) 0.8s,
    opacity 2.5s ease-in-out, width 1.5s ease-in-out 1s,
    left 1.5s ease-in-out 1s;
}

img.screen {
  width: 100%;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  position: absolute;
}
img.clip {
  width: 83%;
  right: 10%;
  z-index: -1;
  position: absolute;
  top: 0;
}

img.hand {
  width: 80%;
  z-index: -2;
  position: absolute;
  bottom: 0px;
}

img {
  max-width: 100%;
}

#myCanvas {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  display: block;
  margin: 0 auto;
}

.triangle:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 1px;
  z-index: -1;
  transform: scale(0.9);
  box-shadow: 0px 0px 8px 2px #000000;
}

.top-nav {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-columns: minmax(100px, auto);
  margin-bottom: 1em;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid black;
}
